<div class="bodyy container mt-5">
  <div class="row">
    <div *ngFor="let car of cars" class="col-md-4">
      <div class="card mb-4 shadow-lg car-card animate__animated animate__fadeInUp">
        <img [src]="car.car.picture_url || 'path/to/default/image.jpg'" class="card-img-top img-fluid" alt="Car Image">
        <div class="card-body text-center">
          <h5 class="card-title">{{ car.car.brand }}</h5>
          <p class="card-text">Manufactured Date: {{ car.car.man_date }}</p>
          <p class="card-text">Price per Hour: ${{ car.car.price_per_hour }}</p>
          <p class="card-text">Color: {{ car.car.colour }}</p>
          <p class="card-text">Type: {{ car.car.type }}</p>
          <p class="card-text">
            Average Rating:
            <span class="stars">
              <i class="fas fa-star" style="color: #FFD700;" *ngFor="let star of [].constructor(Math.floor(car.average_rating))"></i>
              <i class="fas fa-star-half-alt" style="color: #FFD700;" *ngIf="car.average_rating % 1 >= 0.5"></i>
              <i class="far fa-star" style="color: #FFD700;" *ngFor="let emptyStar of [].constructor(5 - Math.ceil(car.average_rating))"></i>
            </span>
            {{ car.average_rating | number: '1.1-2' }}
          </p>
          <p class="card-text"><small class="text-muted">Number of Reviews: {{ car.number_of_reviews }}</small></p>
          <a [routerLink]="['/home/Review', car.car.id]" style="color: white" class="btn btn-primary custom-btn">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
