
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Merriweather:wght@700&display=swap">

<div class="bodyy container mt-5">
  <div class="row">
    <div *ngFor="let hotel of hotels" class="col-md-4">
      <div class="card mb-4 shadow-lg hotel-card animate__animated animate__fadeInUp">
        <img [src]="hotel.hotel.picture_url || 'path/to/default/image.jpg'" class="card-img-top img-fluid" alt="Hotel Image">
        <div class="card-body text-center">
          <h5 class="card-title"><b>{{ hotel.hotel.name }}</b></h5>
          <p class="card-text">Location: {{ hotel.hotel.location }}</p>
          <p class="card-text">Price per Night: ${{ hotel.hotel.price_per_night }}</p>
          <p class="card-text">Rating: {{ hotel.hotel.stars }} stars</p>
          <p class="card-text">Description: {{ hotel.hotel.description || 'No description available' }}</p>
          <p class="card-text">
            Average Rating:
            <span class="stars">
              <i class="fas fa-star" style="color: #FFD700;" *ngFor="let star of [].constructor(Math.floor(hotel.average_rating || 0))"></i>
              <i class="fas fa-star-half-alt" style="color: #FFD700;" *ngIf="hotel.average_rating % 1 >= 0.5"></i>
              <i class="far fa-star" style="color: #FFD700;" *ngFor="let emptyStar of [].constructor(5 - Math.ceil(hotel.average_rating || 0))"></i>
            </span>
            {{ hotel.average_rating ? (hotel.average_rating | number: '1.1-2') : 'No Ratings Yet' }}
          </p>
          <p class="card-text"><small class="text-muted">Number of Reviews: {{ hotel.number_of_reviews }}</small></p>
          <a [routerLink]="['/home/Review/hotel/', hotel.hotel.id]" style="color: white" class="btn btn-primary custom-btn">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
