<!-- CSS for AOS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- JavaScript for AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Bootstrap -->



<!-- AOS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<footer class="footer">

  <div class="container">
    <div class="footer__content">
      <p class="copy-right">
        All rights reserved <span class="logo">GlobeTrek</span> &copy;
      </p>
    </div>
  </div>
</footer>
